/*font added */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Mulish", sans-serif;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 48px;
    height: 56px;
}

.nav-logo h2 {
    margin-left: 20px;
    font-size: 2.25rem;
    font-weight: 800;
}

.travel {
    color: #FF5400;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    color: #424247;
    font-weight: 400;
    font-size: 1.125rem;
}

#Home {
    color: #FF5400;
    font-size: 1.125rem;
    font-weight: 700;

}

nav a {
    text-decoration: none;
    margin-right: 30px;
}

header,
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner section style */
.banner-section{
    background:  linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 8px;
    text-align: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.banner-section h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 100px;
}

.banner-section p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}

.input-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    max-width: 830px;
    margin: 25px auto;
    gap: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}

.input-container input {
    border: none;
    padding: 15px 18px;
    border-radius: 10px;
}

.input-container input:last-child {
    background-color: #FF5400;
    color: #FFF;
    font-weight: 700;

}



/* responsive design for mobile */
@media screen and (max-width:576px) {
    nav, nav ul, .input-container{
        flex-direction: column;
    }
    .banner-section{
        height: 650px;
    }
}