/*font added */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Mulish", sans-serif;
    box-sizing: border-box;
}

/* shared style */
.section-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.title {
    text-align: center;

}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.primary-btn {
    color: #FFF;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 18px 30px;
    font-weight: 800;
    font-size: 1.25rem;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 48px;
    height: 56px;
}

.nav-logo h2 {
    margin-left: 20px;
    font-size: 2.25rem;
    font-weight: 800;
}

.travel {
    color: #FF5400;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    color: #424247;
    font-weight: 400;
    font-size: 1.125rem;
}

#Home {
    color: #FF5400;
    font-size: 1.125rem;
    font-weight: 700;

}

nav a {
    text-decoration: none;
    margin-right: 30px;
}

header,
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner section style */
.banner-section {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 8px;
    text-align: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.banner-section h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 100px;
}

.banner-section p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}

.input-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    max-width: 830px;
    margin: 25px auto;
    gap: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}

.input-container input {
    border: none;
    padding: 15px 18px;
    border-radius: 10px;
}

.input-container input:last-child {
    background-color: #FF5400;
    color: #FFF;
    font-weight: 700;

}

/* popular tour section style */
.popular-tour-section {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.popular-tour-content p,
.popular-tour-content li {
    padding-top: 25px;
}

/* destination section style */


.destination-section {
    margin-top: 100px;
}

.destination-img-container img {
    width: 100%;
    height: 100%;
}

.maldives {
    grid-area: maldives;

}

.indonesia {
    grid-area: indonesia;
}

.srilanka {
    grid-area: srilanka;
}

.north-ameriaca {
    grid-area: north-america;
}

.kashmir {
    grid-area: kashmir;
}

.bangladesh {
    grid-area: bangladesh;
}

.bandarban {
    grid-area: bandarban;
}

.destination-img-container {
    display: grid;
    max-width: 1440px;
    grid-template-areas:
        "maldives       maldives        indonesia        indonesia"
        "srilanka       north-america   north-america       kashmir"
        "bangladesh     bandarban   bandarban   bandarban"
    ;
    gap: 20px;
}


.indonesia p,
.maldives p,
.srilanka p,
.north-ameriaca p,
.kashmir p,
.bandarban p,
.bangladesh p {
    text-align: center;
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.maldives p,
.indonesia p,
.srilanka p,
.north-ameriaca p,
.kashmir p,
.bangladesh p,
.bandarban p {
    position: relative;
    font-weight: 800;
    color: #fff;
    font-size: 3rem;

}

/* choose us section style */
.choose-us {
    margin-top: 100px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

.card1,
.card2,
.card3 {
    max-width: 700px;
}

.card1 img,
.card2 img,
.card3 img {
    width: 64px;
    height: 64px;
}

.card2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 20px;
}

.card3,
.card1 {

    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 20px;
}

.card3 {
    margin: 0 auto;
}

/* deals & discount section styles */
.deals-discount-section {
    margin-top: 100px;
}

.deals-first-card {
    background: url(../Images/Group\ 39.png);
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: 500px;
    height: auto;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    margin-bottom: 30px;

}

.inner-part {
    padding: 30px;
    max-width: 700px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin-left: 620px;
}

.card-top-part {
    display: flex;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.card-top-part i {
    color: #FF5400;
}

.deals-second-card {
    margin: 30px 0;
    background: url(../Images/Group\ 40.png);
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: 500px;
    height: auto;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
}

.second-inner-part {
    margin-left: 0;
}

.btn-package {
    margin-top: 30px;
    max-width: 250px;
    margin: 0 auto;
}

.package-btn {

    text-align: center;

}

/* perfect place styles */
.perfect-place {
    margin-top: 100px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.perfect-place-content ul li {
    list-style-type: circle;
    font-weight: 800;
    font-size: 1rem;
}

/* newsletter section styles */
.newsletter-section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.newsletter-section-content {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 80px;
    width: 50%;
}

.newsletter-section h2 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsletter-section-content input,
.newsletter-section-content button {
    display: block;
    margin-top: 20px;
}

.newsletter-section-content input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 160px;
}
.newsletter-section-img{
    position: relative;
    
    
}

.discount70 {
    padding: 24px 40px;
    background-color: #FF5400;
    color: white;
    border-radius: 12px;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 13%;
}

/* responsive design for mobile */
@media screen and (max-width:576px) {

    nav,
    nav ul,
    .input-container,
    .popular-tour-section,
    .perfect-place, .newsletter-section {
        flex-direction: column;
    }

    .banner-section {
        height: 650px;
    }

    .popular-tour-img img,
    .perfect-place-img iframe {
        width: 100%;
    }

    .destination-img-container {
        grid-template-areas:
            "maldives"
            "indonesia"
            "srilanka"
            "north-america"
            "kashmir"
            "bangladesh"
            "bandarban"
        ;

    }

    .inner-part {
        margin-left: 0;
        margin-top: 150px;
    }
    .newsletter-section-content{
        padding: 10px;
        width: 100%;
    }
    .newsletter-section-img img{
        width: 100%;
    }
    .discount70{
        left: 150px;
        width:200px;
        padding: 20px;
    }
    .discount70 h2{
font-size: 1rem;
    }

}